.hero_home {
  background-color: #fff;
}

.herohome {
  height: 100vh;
  width: 100%;
  background-image: url("../../components/main/assets/tadecontruction.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
}
