.error-container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.error-box {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h1 {
    font-size: 5rem;
    color: #dc3545; 
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    color: #6c757d; /* Dark gray color */
  }

  a {
    text-decoration: none;
    color: var(--secondary-color); /* Blue color */
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid var(--secondary-color);
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
  }

  a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}
