.supplies {
  padding-top: 80px;
  height: 100vh;
  width: 100%;

  .app__profile_supplies {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      align-content: space-between;
    }

    .app__profile-items {
      width: 500px;
      display: block;
      // justify-content: flex-start;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      // margin: 2rem;
      flex: 1;

      img {
        width: 40%;
        border-radius: 15px;
        object-fit: cover;
      }

      @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
          height: 320px;
        }
      }
    }
  }
}
